<div>
  <mat-card class="m-4 md:p-5 flex align-items-center justify-content-center">
    <mat-card-header>
      <mat-card-title class="mb-2 text-base md:text-xl font-semibold">SERVICIOS PROFESIONALES</mat-card-title>
    </mat-card-header>
    <mat-card-content  class="md:px-5 text-sm md:text-lg line-height-2 md:line-height-3">
      <div class="flex flex-column md:flex-row">
        <div class="m-2 p-5 w-12 md:w-4" style="background-color: #2364AA; color:#ffffff; border-radius: 10px;">1. ESCUELAS DE EDUCACION Y ENTRENAMIENTO POR CONVENIOS</div>
        <div class="m-2 p-5 w-12 md:w-8" style="text-align: justify; background-color: #2364AA;color:#ffffff; border-radius: 10px;">
          <div class="mb-1">
            A. GRUPO DE ENTRENAMIENTO E INSTRUCCIÓN TACTICO ESPECIAL Y SEGURIDAD URBANA:
            Prepararlos para: PSP (Seguridad Física) / PMI (Escolta – Resguardo) / DERECHOS HUMANOS, RELACIONES SOCIALES
          </div>
          <div>
            B. INSTRUCTORES RECONOCIDOS POR LA SUCAMEC, para prepararlos en carreras de Seguridad Porta Valores y
            Vigilancia y Seguridad Privada / Derechos Humanos / Relaciones Sociales / OTROS DE LA CURRICULA SUCAMEC.
          </div>
        </div>
      </div>

      <div class="flex flex-column md:flex-row">
        <div class="m-2 p-5 w-12 md:w-4" style="background-color: #E19621; border-radius: 10px;">2.	ASESORIA DE DEFENSA LEGAL</div>
        <div class="m-2 p-5 w-12 md:w-8" style="text-align: justify; background-color: #E19621; border-radius: 10px;">
          <div>
            -	SISTEMA LABORAL, PENAL, MEDICO LEGAL.
          </div>
          <div>
            -	USO DE LEGITIMA DEFENSA.
          </div>
          <div>
            -	OTROS: HUMANITARIOS, INCLUSION, ETC.
          </div>
        </div>
      </div>

      <div class="flex flex-column md:flex-row">
        <div class="m-2 p-5 w-12 md:w-4" style="background-color: #D1D5DE; border-radius: 10px;">3.	PROGRAMAS DE PROTECCION</div>
        <div class="m-2 p-5 w-12 md:w-8" style="text-align: justify; background-color: #D1D5DE; border-radius: 10px;">
          <div>
            - SALUD MENTAL (PSICOLOGICO / PSIQUIATRICO)
          </div>
          <div>
            -	INSERCION LABORAL
          </div>
          <div>
            -	CONVENIOS MEDICOS BASICOS – ESPECIALIZADOS
          </div>
          <div>
            -	CONVENIOS MEDICOS BASICOS – ESPECIALIZADOS
          </div>
            -	PROTECCION Y APOYO INTEGRAL A LOS CANES K9 RETIRADOS DEL SERVICIO MILITAR POLICIAL MEDIANTE CONVENIOS INTER INSTITUCIONALES FFAA Y ONG ESPECIALIZADAS DE PROTECCION ANIMAL.
        </div>
      </div>

      <div class="flex flex-column md:flex-row">
        <div class="m-2 p-5 w-12 md:w-4" style="background-color: #90C2E7; border-radius: 10px;">4.	VELICONNECT - BOLSA DE TRABAJO</div>
        <div class="m-2 p-5 w-12 md:w-8" style="text-align: justify; background-color: #90C2E7; border-radius: 10px;">
          <div>
            CONVENIO EMPRESARIALES, CORPORATIVOS, INTERGUBERNAMENTALES A NIVEL NACIONAL E INTERNACIONAL EN TODAS LAS CARRERAS QUE PRESENTEN LOS TALENTOS HUMANOS IDEPROVELI.
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
