<div>
  <h1 class="mt-4 mx-4 pt-4 text-xl md:text-5xl font-semibold text-center line-height-2" style="color: #1c2a45">
    BOLSA DE TRABAJO IDEPROVELI
  </h1>

  <h1 class="p-4 text-2xl md:text-6xl font-semibold text-center" style="color: #1c2a45">
    VELICONNECT
  </h1>

  <mat-card class="m-4 p-4  flex flex-column md:flex-row">
    <div class="w-12 md:w-9">
    <mat-card-header>
      <mat-card-title class="mb-2 text-base md:text-xl font-semibold">
        Misión</mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: justify;" class=" text-lg md:text-xl line-height-2 md:line-height-3">
      <div>Cultivar un entorno inclusivo que apoye y anime a los empleados y consultores con una afiliación militar a avanzar
      en sus habilidades y potencial de liderazgo a través de la conexión, la tutoría, la colaboración y el debate.
    </div>
    </mat-card-content>
  </div>
    <div class="md:mr-2 w-12 md:w-3 flex justify-content-center">
      <img mat-card-image style="width: 50%; object-fit:cover; border-radius: 10px;"
        src="../../../assets/misión.jpg" alt="">
    </div>

  </mat-card>
</div>
