<div>
  <h1 class="mt-4 mx-4 pt-4 text-xl md:text-5xl font-semibold text-center line-height-2" style="color: #1c2a45">
    SOCIOS, CONVENIOS Y PATROCINADORES DE IDEPROVELI
  </h1>

  <mat-card class="m-4 p-4 flex align-items-center justify-content-center">
    <mat-card-header>
      <mat-card-title class="mb-4 text-base md:text-2xl font-semibold">Walla Zulú International Group</mat-card-title>
    </mat-card-header>

    <mat-card-content style="text-align: justify;" class=" text-lg md:text-xl line-height-2 md:line-height-3">
      <img style="width: 200px;" src="../../../assets/LOGO_WALLA_VECTORIZADO_SIN_ESTRELLA.png" alt=""
      class="">
    </mat-card-content>
  </mat-card>

</div>
